h1 {
    color: black;
    word-spacing: 5px;
    font-size: 35px;
    font-weight: 700;
    margin-bottom:30px;
   
}

.ion-minus{
    padding:0px 10px;
}

.blog {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 1.5;
    text-rendering: optimizeLegibility;
    font-variant-ligatures: none;
    box-sizing: border-box;
    background-color: #fafafa;
}

.blog .blog-column a{
    color: #5db4c0;
    text-decoration: none;
}

.blog  span {
    font-size: 17px;
    font-weight: 700;
}

.blog  .blog-detail {
    margin-top: 10px;
}

.fa.fa-user, .fa.fa-clock-o {
    padding-right: 10px;
    color: #909090;
    font-size: 11px;
}


/* new */